In [5]:
import sqlite3

In [6]:
con = sqlite3.connect("comp.sqlite")

In [7]:
con.executescript('''
DROP TABLE IF EXISTS descript;
CREATE TABLE descript (
    id_descript INTEGER PRIMARY KEY AUTOINCREMENT,
    descrip VARCHAR(255)
);

DROP TABLE IF EXISTS specialization;
CREATE TABLE specialization (
    id_spec INTEGER PRIMARY KEY AUTOINCREMENT,
    specialization VARCHAR(255)
);

DROP TABLE IF EXISTS city;
CREATE TABLE city (
                  id_city INTEGER PRIMARY KEY AUTOINCREMENT,
                  city_name VARCHAR(255)
);

DROP TABLE IF EXISTS ovz_descr;
CREATE TABLE ovz_descr (
    id_ovz_descr INTEGER PRIMARY KEY AUTOINCREMENT,
    id_ovz INT,
    id_descript INT,
    descr VARCHAR(255),
    FOREIGN KEY (id_ovz) REFERENCES ovz (id_ovz),
    FOREIGN KEY (id_descript) REFERENCES descript (id_descript)
);

DROP TABLE IF EXISTS ovz;
CREATE TABLE ovz (
    id_ovz INTEGER PRIMARY KEY AUTOINCREMENT,
    id VARCHAR(255),
    sex BOOLEAN,
    id_city INT,
    street VARCHAR(255),
    id_spec INT,
    FOREIGN KEY (id_spec) REFERENCES specialization (id_spec)
    FOREIGN KEY (id_city) REFERENCES city (id_city)
);

DROP TABLE IF EXISTS company;
CREATE TABLE company (
    id_comp INTEGER PRIMARY KEY AUTOINCREMENT,
    comp_name VARCHAR(255),
    comp_inn VARCHAR(255),
    comp_snils VARCHAR(255),
    comp_sity VARCHAR(255),
    comp_street VARCHAR(255),
    comp_login VARCHAR(255),
    comp_pass VARCHAR(255)
);

DROP TABLE IF EXISTS vacancy;
CREATE TABLE vacancy (
    id_vacancy INTEGER PRIMARY KEY AUTOINCREMENT,
    vac_name VARCHAR(255),
    vac_desc VARCHAR(255)
);

DROP TABLE IF EXISTS comp_vacancy;
CREATE TABLE comp_vacancy (
    id_comp_vacancy INTEGER PRIMARY KEY AUTOINCREMENT,
    id_company INT,
    id_vacancy INT,
    cv_need_spec VARCHAR(255),
    cv_need_exp VARCHAR(255)
);

DROP TABLE IF EXISTS employee;
CREATE TABLE employee (
    id_employee INTEGER PRIMARY KEY AUTOINCREMENT,
                  id_company INTEGER,
    id_ovz INTEGER,
    id_comp_vacancy INTEGER,
    job_start DATE,
    job_end DATE,
    status1 BOOLEAN,
    status2 BOOLEAN,
    status3 BOOLEAN,
    status4 BOOLEAN,
                  
    FOREIGN KEY (id_ovz) REFERENCES ovz (id_ovz),
    FOREIGN KEY (id_company) REFERENCES company (id_company)
    FOREIGN KEY (id_comp_vacancy) REFERENCES comp_vacancy (id_comp_vacancy)
        
);
                  
DROP TABLE IF EXISTS worker;
CREATE TABLE worker (
                  id_worker INTEGER PRIMARY KEY AUTOINCREMENT,
                  id_company INTEGER,
                  id_comp_vacancy INTEGER,
                  id_ovz INTEGER,
                  FOREIGN KEY (id_ovz) REFERENCES ovz (id_ovz),
                  FOREIGN KEY (id_comp_vacancy) REFERENCES comp_vacancy (id_comp_vacancy) ,
                  FOREIGN KEY (id_company) REFERENCES company (id_company)
);
                  
INSERT INTO city (city_name)
VALUES
    ('Владивосток'),
    ('Уссурийск'),
    ('Находка'),
    ('Москва'),
    ('Санкт-Петербург'),
    ('Новосибирск'),
    ('Екатеринбург'),
    ('Казань'),
    ('Нижний Новгород'),
    ('Самара');


INSERT INTO company (comp_name, comp_inn, comp_snils, comp_sity, comp_street, comp_login, comp_pass)
VALUES 
('DNS', '21432342', '479281734', 'Владивосток', 'Алеутская 15', 'admin1', 'admin1'),
('SBER', '273923874', '3291879187', 'Владивосток', 'Суханова 172', 'admin2', 'admin2'),
('Bunker 14', '2938792745', '1923784123', 'Владивосток', 'Океанский Проспект 5', 'admin3', 'admin3'),
('Gibson', '123414512', '1928751334', 'Владивосток', 'Плеханова 72', 'admin4', 'admin4'),
('Fender', '987987134', '7479128374', 'Владивосток', 'Алеутская 1', 'admin5', 'admin5'),
('Ростелеком', '12357293485', '19239475632', 'Владивосток', 'Некрасовская 50', 'admin6', 'admin6'),
('МТС', '19823457', '192358713', 'Владивосток', 'Русская 6', 'admin7', 'admin7'),
('DNS', '132409852', '293485723', 'Уссурийск', 'Ленина 51', 'admin8', 'admin8'),
('Кантри-Пицца', '923847523', '93487534', 'Уссурийск', 'Комсомольская 72', 'admin9', 'admin9'),
('Ростелеком', '29348572345', '293487534', 'Уссурийск', 'Некрасова 121', 'admin10', 'admin10');

INSERT INTO vacancy (vac_name, vac_desc)
VALUES
    ('Python-разработчик', 'Разработка бэк-энда для интернет магазина'),
    ('ML-Инженер', 'Создание моделей машинного обучения для пргноза цен на акции'),
    ('Системный Администратор', 'Общий специалист по системному администрированию'),
    ('WEB-Дизайнер', 'Создание пользовательского интерфейса для визуального отображения'),
    ('Повар', 'Готовка вкусных блюд'),
    ('Специалист по клинингу', 'Уборка помещений за крутыми дядями'),
    ('Слесарь 1-го разряда', 'Делать красивые столы на продажу'),
    ('Смотритель зоопарка', 'Развлекать зверушек'),
    ('Гитарный мастер', 'Создавать электрогитары'),
    ('Электрик', 'Проводить электрические сети для электрогитары'),
    ('Data Scientist', 'Анализ больших данных и создание отчетов'),
    ('DevOps Engineer', 'Настройка и поддержка CI/CD'),
    ('Front-end разработчик', 'Разработка пользовательского интерфейса'),
    ('Back-end разработчик', 'Разработка серверной логики приложения'),
    ('HR специалист', 'Подбор и управление персоналом'),
    ('Маркетолог', 'Проведение маркетинговых исследований и кампаний'),
    ('Бухгалтер', 'Ведение финансовой отчетности компании'),
    ('Менеджер по продажам', 'Организация и управление процессом продаж'),
    ('Аналитик данных', 'Сбор и анализ данных для поддержки принятия решений'),
    ('UX/UI дизайнер', 'Разработка дизайна интерфейсов'),
    ('Контент-менеджер', 'Создание и управление контентом'),
    ('SEO специалист', 'Оптимизация сайтов для поисковых систем'),
    ('Product Manager', 'Управление жизненным циклом продукта'),
    ('QA инженер', 'Тестирование и обеспечение качества ПО'),
    ('Программист 1С', 'Разработка и поддержка 1С решений'),
    ('Тестировщик', 'Проведение тестирования ПО'),
    ('Секретарь', 'Ведение документации и делопроизводства'),
    ('Снабженец', 'Организация процесса закупок и снабжения'),
    ('Проектный менеджер', 'Управление проектами'),
    ('Инженер по качеству', 'Контроль и обеспечение качества продукции'),
    ('Сетевой инженер', 'Настройка и поддержка сетевой инфраструктуры'),
    ('Системный архитектор', 'Разработка архитектуры информационных систем'),
    ('ERP консультант', 'Внедрение и поддержка ERP систем'),
    ('Технический писатель', 'Создание технической документации'),
    ('Аналитик бизнес-процессов', 'Анализ и оптимизация бизнес-процессов'),
    ('Системный аналитик', 'Анализ требований и разработка спецификаций'),
    ('Бизнес-аналитик', 'Анализ и моделирование бизнес-процессов'),
    ('Технический директор', 'Руководство техническим отделом компании'),
    ('Директор по развитию', 'Разработка стратегий роста и развития компании');


INSERT INTO comp_vacancy (id_company, id_vacancy, cv_need_spec, cv_need_exp)
VALUES
    (1, 1, 'Python-разработчик', '3 года'),
    (1, 2, 'ML-Инженер', '2 года'),
    (1, 3, 'Системный Администратор', '1 год'),
    (1, 4, 'WEB-Дизайнер', '2 года'),
    (1, 5, 'Повар', 'Без опыта'),
    (1, 6, 'Специалист по клинингу', 'Без опыта'),
    (1, 7, 'Слесарь 1-го разряда', '3 года'),
    (1, 8, 'Смотритель зоопарка', '1 год'),
    (1, 9, 'Гитарный мастер', '4 года'),
    (1, 10, 'Электрик', '2 года'),
    (2, 11, 'Data Scientist', '2 года'),
    (2, 12, 'DevOps Engineer', '3 года'),
    (2, 13, 'Front-end разработчик', '1 год'),
    (2, 14, 'Back-end разработчик', '2 года'),
    (2, 15, 'HR специалист', '1 год'),
    (2, 16, 'Маркетолог', '2 года'),
    (2, 17, 'Бухгалтер', '3 года'),
    (2, 18, 'Менеджер по продажам', '2 года'),
    (2, 19, 'Аналитик данных', '1 год'),
    (2, 20, 'UX/UI дизайнер', '2 года'),
    (3, 21, 'Контент-менеджер', '1 год'),
    (3, 22, 'SEO специалист', '1 год'),
    (3, 23, 'Product Manager', '2 года'),
    (3, 24, 'QA инженер', '1 год'),
    (3, 25, 'Программист 1С', '2 года'),
    (3, 26, 'Тестировщик', 'Без опыта'),
    (3, 27, 'Секретарь', 'Без опыта'),
    (3, 28, 'Снабженец', '1 год'),
    (3, 29, 'Проектный менеджер', '2 года'),
    (3, 30, 'Инженер по качеству', '1 год'),
    (4, 31, 'Сетевой инженер', '3 года'),
    (4, 32, 'Системный архитектор', '3 года'),
    (4, 33, 'ERP консультант', '2 года'),
    (4, 34, 'Технический писатель', '1 год'),
    (4, 35, 'Аналитик бизнес-процессов', '2 года'),
    (4, 36, 'Системный аналитик', '1 год'),
    (4, 37, 'Бизнес-аналитик', '2 года'),
    (4, 38, 'Технический директор', '4 года'),
    (4, 39, 'Директор по развитию', '3 года'),
    (4, 40, 'Python-разработчик', '2 года');


INSERT INTO descript (descrip)
VALUES
('Группа инвалидности'),
('Уровень образования'),
('Опыт работы');

INSERT INTO ovz (id, sex, id_city, street, id_spec)
VALUES
    ('ovz1', 0, 1, 'Алеутская 51', 1),
    ('ovz2', 0, 2, 'Алеутская 13', 2),
    ('ovz3', 1, 3, 'Некрасовская 6', 3),
    ('ovz4', 1, 4, 'Суханова 4', 4),
    ('ovz5', 0, 5, 'Ленина 15', 5),
    ('ovz6', 1, 6, 'Садовая 25', 6),
    ('ovz7', 0, 7, 'Октябрьская 7', 7),
    ('ovz8', 1, 8, 'Заречная 3', 8),
    ('ovz9', 0, 9, 'Кирова 8', 9),
    ('ovz10', 1, 10, 'Лесная 19', 10),
    ('ovz11', 0, 1, 'Горького 5', 11),
    ('ovz12', 1, 2, 'Чапаева 14', 12),
    ('ovz13', 0, 3, 'Речная 9', 13),
    ('ovz14', 1, 4, 'Полевая 11', 14),
    ('ovz15', 0, 5, 'Советская 22', 15),
    ('ovz16', 1, 6, 'Солнечная 3', 16),
    ('ovz17', 0, 7, 'Звездная 12', 17),
    ('ovz18', 1, 8, 'Весенняя 7', 18),
    ('ovz19', 0, 9, 'Зимняя 4', 19),
    ('ovz20', 1, 10, 'Космонавтов 21', 20),
    ('ovz21', 0, 1, 'Пушкинская 5', 1),
    ('ovz22', 1, 2, 'Лермонтова 14', 2),
    ('ovz23', 0, 3, 'Толстого 9', 3),
    ('ovz24', 1, 4, 'Достоевского 11', 4),
    ('ovz25', 0, 5, 'Тургенева 22', 5),
    ('ovz26', 1, 6, 'Маяковского 3', 6),
    ('ovz27', 0, 7, 'Гоголя 12', 7),
    ('ovz28', 1, 8, 'Островского 7', 8),
    ('ovz29', 0, 9, 'Чернышевского 8', 9),
    ('ovz30', 1, 10, 'Горького 19', 10),
    ('ovz31', 0, 1, 'Ленина 51', 1),
    ('ovz32', 1, 2, 'Садовая 13', 2),
    ('ovz33', 0, 3, 'Советская 6', 3),
    ('ovz34', 1, 4, 'Парковая 4', 4),
    ('ovz35', 0, 5, 'Зеленая 15', 5),
    ('ovz36', 1, 6, 'Цветочная 3', 6),
    ('ovz37', 0, 7, 'Лесная 12', 7),
    ('ovz38', 1, 8, 'Озерная 7', 8),
    ('ovz39', 0, 9, 'Полевая 4', 9),
    ('ovz40', 1, 10, 'Горная 21', 10);


INSERT INTO ovz_descr (id_ovz, id_descript, descr)
VALUES
    (1, 1, 'Первая группа'), (1, 2, 'Высшее'), (1, 3, '3 года'),
    (2, 1, 'Вторая группа'), (2, 2, 'Высшее'), (2, 3, '6 лет'),
    (3, 1, 'Первая группа'), (3, 2, 'Среднее'), (3, 3, '2 года'),
    (4, 1, 'Первая группа'), (4, 2, 'Техникум'), (4, 3, '3 года'),
    (5, 1, 'Вторая группа'), (5, 2, 'Высшее'), (5, 3, '4 года'),
    (6, 1, 'Первая группа'), (6, 2, 'Высшее'), (6, 3, '3 года'),
    (7, 1, 'Вторая группа'), (7, 2, 'Среднее'), (7, 3, '6 лет'),
    (8, 1, 'Первая группа'), (8, 2, 'Высшее'), (8, 3, '2 года'),
    (9, 1, 'Вторая группа'), (9, 2, 'Техникум'), (9, 3, '3 года'),
    (10, 1, 'Первая группа'), (10, 2, 'Среднее'), (10, 3, '4 года'),
    (11, 1, 'Вторая группа'), (11, 2, 'Высшее'), (11, 3, '3 года'),
    (12, 1, 'Первая группа'), (12, 2, 'Высшее'), (12, 3, '6 лет'),
    (13, 1, 'Вторая группа'), (13, 2, 'Среднее'), (13, 3, '2 года'),
    (14, 1, 'Первая группа'), (14, 2, 'Техникум'), (14, 3, '3 года'),
    (15, 1, 'Вторая группа'), (15, 2, 'Высшее'), (15, 3, '4 года'),
    (16, 1, 'Первая группа'), (16, 2, 'Высшее'), (16, 3, '3 года'),
    (17, 1, 'Вторая группа'), (17, 2, 'Среднее'), (17, 3, '6 лет'),
    (18, 1, 'Первая группа'), (18, 2, 'Высшее'), (18, 3, '2 года'),
    (19, 1, 'Вторая группа'), (19, 2, 'Техникум'), (19, 3, '3 года'),
    (20, 1, 'Первая группа'), (20, 2, 'Среднее'), (20, 3, '4 года'),
    (21, 1, 'Вторая группа'), (21, 2, 'Высшее'), (21, 3, '3 года'),
    (22, 1, 'Первая группа'), (22, 2, 'Высшее'), (22, 3, '6 лет'),
    (23, 1, 'Вторая группа'), (23, 2, 'Среднее'), (23, 3, '2 года'),
    (24, 1, 'Первая группа'), (24, 2, 'Техникум'), (24, 3, '3 года'),
    (25, 1, 'Вторая группа'), (25, 2, 'Высшее'), (25, 3, '4 года'),
    (26, 1, 'Первая группа'), (26, 2, 'Высшее'), (26, 3, '3 года'),
    (27, 1, 'Вторая группа'), (27, 2, 'Среднее'), (27, 3, '6 лет'),
    (28, 1, 'Первая группа'), (28, 2, 'Высшее'), (28, 3, '2 года'),
    (29, 1, 'Вторая группа'), (29, 2, 'Техникум'), (29, 3, '3 года'),
    (30, 1, 'Первая группа'), (30, 2, 'Среднее'), (30, 3, '4 года'),
    (31, 1, 'Вторая группа'), (31, 2, 'Высшее'), (31, 3, '3 года'),
    (32, 1, 'Первая группа'), (32, 2, 'Высшее'), (32, 3, '6 лет'),
    (33, 1, 'Вторая группа'), (33, 2, 'Среднее'), (33, 3, '2 года'),
    (34, 1, 'Первая группа'), (34, 2, 'Техникум'), (34, 3, '3 года'),
    (35, 1, 'Вторая группа'), (35, 2, 'Высшее'), (35, 3, '4 года'),
    (36, 1, 'Первая группа'), (36, 2, 'Высшее'), (36, 3, '3 года'),
    (37, 1, 'Вторая группа'), (37, 2, 'Среднее'), (37, 3, '6 лет'),
    (38, 1, 'Первая группа'), (38, 2, 'Высшее'), (38, 3, '2 года'),
    (39, 1, 'Вторая группа'), (39, 2, 'Техникум'), (39, 3, '3 года'),
    (40, 1, 'Первая группа'), (40, 2, 'Среднее'), (40, 3, '4 года');

INSERT INTO specialization (specialization)
VALUES
    ('Python-Разработчик'),
    ('ML-Инженер'),
    ('Повар'),
    ('Системный Администратор'),
    ('Электрик'),
    ('Уборщик'),
    ('Слесарь'),
    ('Data Scientist'),
    ('DevOps Engineer'),
    ('Front-end разработчик'),
    ('Back-end разработчик'),
    ('HR специалист'),
    ('Маркетолог'),
    ('Бухгалтер'),
    ('Менеджер по продажам'),
    ('Аналитик данных'),
    ('UX/UI дизайнер'),
    ('Контент-менеджер'),
    ('SEO специалист'),
    ('Product Manager');

''')

con.commit()

con.close()